/psicologia/nbproject/private/
/psicologia/nbproject/ant-deploy.xml
/psicologia/nbproject/build-impl.xml
/psicologia/nbproject/genfiles.properties
/psicologia/nbproject/project.properties
/psicologia/web/WEB-INF/glassfish-resources.xml
/psicologia/build/
/psicologia/dist/